.strate-slider {
   background-color: green;

    .grid {
        grid-column: full;
    }

    .slider {
        --nb: 2;
        --gap: 0px;
       
    }

    .slider-btn {
        display: none;
    }

    .card-news {
        img {
            height: 100vh
        }

    }
}