.card-news {
    a{
        display: block;
    }
    img{
        aspect-ratio: 1;
        width:100%;
        height: 100%;
        object-fit: cover
    }

    &.horizontal {
      opacity: .5
    }
    &.reverse{
rotate: 80deg
    }
    &.theme-pink{
        border:2px solid red;
    }
}