#header {
    position: fixed;
    z-index: 100;
    width: 100%;
    mix-blend-mode: darken;
    height: var(--header-height);
    color: var(--color-1);
    padding-inline: var(--ctr-offset);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 800;
    box-sizing: border-box;

    nav{
        display:flex;
        gap: 2rem;
    }
}