/* margin */
.mb-0 {
    --mb: 0;
}

.mb-sm {
    --mb: var(--margin-sm);
}

.mb-md {
    --mb: var(--margin-md);
}

.mb-lg {
    --mb: var(--margin-lg);
}

.mt-0 {
    --mt: 0;
}

.mt-sm {
    --mt: var(--margin-sm);
}

.mt-md {
    --mt: var(--margin-md);
}

.mt-lg {
    --mt: var(--margin-lg);
}


/* padding */
.pb-0 {
    --pb: 0;
}

.pb-sm {
    --pb: var(--margin-sm);
}

.pb-md {
    --pb: var(--margin-md);
}

.pb-lg {
    --pb: var(--margin-lg);
}

.pt-0 {
    --pt: 0;
}

.pt-xs {
    --pt: var(--margin-xs);
}

.pt-sm {
    --pt: var(--margin-sm);
}

.pt-md {
    --pt: var(--margin-md);
}

.pt-lg {
    --pt: var(--margin-lg);
}

/* bg */
.bg-color-1 {
    background-color: var(--color-1);
    color: #fff;
    --color1: #fff;
    --color2: var(--color-1);
    --color3: var(--color-2);
    --color4: var(--color-3);
     --color5:#fff;
    --text: #fff;
}

.bg-color-3 {
    background-color: var(--color-3);

    --color1: #fff;
    --color2: var(--color-3);
    --color3: var(--color-1);
    --color4: #fff;
    --color5: var(--color-3);
    --text: var(--color-text);
}