/* rich text */
.rte {
    h2 {
        margin-bottom: 2.8rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 2rem
    }

    h4,
    h5 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 700;
    }

    p {
        margin-bottom: 1.6rem;
    }

    ul,
    ol {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 2rem;
        padding-left: 2rem;

        li {
            &::marker {
                color: var(--theme-1, var(--color-text));
                font-weight: 600
            }
        }
    }

    ul {
        list-style: disc;

        li::marker {
            color: var(--color-2);
        }

        li:has(.type-picto) {}
    }

    ul:has(.type-picto) {
        list-style: none;

        li {
            &::marker {
                display: none
            }

            &:before {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: var(--color-2);
                background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Ccircle%20fill%3D%22%2300A0BD%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%2F%3E%0A%09%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%221.5%22%20d%3D%22M16.8%2C8.7l-6.6%2C6.6l-3-3%22%2F%3E%0A%3C%2Fsvg%3E');
                margin-left: -20px;
                margin-bottom: -20px;
                background-size: 100%;
            }
        }
    }

    ol {
        list-style: inside decimal;

        li::marker {
            font-weight: 400;
        }
    }

    small {
        font-weight: 400;
    }

    a {
        text-decoration: underline;
        color: var(--color-2);
        font-weight: 700;
    }

    blockquote {
        quotes: "\201C" "\201D" "\2018" "\2019";
        max-width: 80rem;
        margin: 0 auto 2rem;
        text-align: center;

        &::before,
        &::after {
            color: var(--theme-1);
            font-size: 6rem;
            vertical-align: -2rem;
            display: inline-block;
            line-height: 0;
        }

        &::before {
            content: open-quote;
            margin-right: 1rem;
        }

        &::after {
            content: close-quote;
            margin-left: 1rem;
        }

        p {
            font-size: 2.6rem;
            display: inline;
            line-height: 1.4;
        }
    }

    *:nth-last-child(1) {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    @media (--breakpoint-lg-up) {
        h2 {
            font-size: 2.8rem;
            margin-bottom: 3.2rem
        }

        h3 {
            font-size: 2.2rem;
            margin-bottom: 3.2rem
        }
    }
}