:root {
    --font-1: 'BouyguesRead', Arial, sans-serif;
    --font-2: 'BouyguesSpeak', Arial, sans-serif;

    --ctr-width: 135rem;

    // text
    --color-text: #25465F;

    // gray
    --color-gray-light: #EFF2F8;
    --color-gray: #ccc;
    --color-gray-dark: #ECECEC;

    // brand
    --color-1: #25465F;
    --color-2: #00A0BD;
    --color-3: #EFF2F8;
    --color-4: #EB5B00;
    --color-5: #0055A4;
    --color-6: #009DCC;


    --layout:
        [full] var(--ctr-offset) [fluid ctr ctr-sm center] auto [center-end ctr-sm-end ctr-end fluid-end] var(--ctr-offset) [full-end];
}


@media(--breakpoint-md-down) {
    :root {
        --ctr-offset: 1.6rem;
        --header-height: 7rem;
        --gap: 2rem;

        --margin-xs: 3rem;
        --margin-sm: 4rem;
        --margin-md: 4rem;
        --margin-lg: 6rem;
    }
}

@media (--breakpoint-md-up) {
    :root {
        --ctr-offset: 3rem;
        --header-height: 9rem;
        --gap: 2rem;

        --margin-xs: 2rem;
        --margin-sm: 5rem;
        --margin-md: 8rem;
        --margin-lg: 11rem;

        /* layout avec ctr-sm et center*/
        --ctr-col: calc((var(--ctr-width) - (11) * var(--gap)) / 12 + var(--gap));
        --layout:
            [full] var(--ctr-offset) [fluid] 1fr [ctr-start] var(--ctr-col) [ctr-sm-start] minmax(1vw, calc((var(--ctr-width) - (2 * var(--ctr-col)))/2)) [center] minmax(1vw, calc((var(--ctr-width) - (2 * var(--ctr-col)))/2)) [ctr-sm-end] var(--ctr-col) [ctr-end] 1fr [fluid-end] var(--ctr-offset) [full-end];
    }
}

@media (--breakpoint-lg-up) {
    :root {
        --ctr-offset: 6rem;

    }
}