.hero-homepage {
    height: 100vh;
    will-change: transform;

    picture {
        width: 100%;
        grid-column: full;
        grid-row: 1;
        height: 100%;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    .content {
        grid-row: 1;
        z-index: 1;
        grid-column: full;
        background-color: #fff;
        mix-blend-mode: lighten;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        text-align: center;
        font-size: 10vw;
        text-transform:uppercase;
        border: 2px solid var(--color-1); 
        padding: 1rem 2rem;
    }
}